.form-control{
    width: 50%;
    height:17px;
    font-size:13px;
    /* margin-top:0px; */
}
/* .inside-container{
    margin-top:5px;
} */
.photo{
    position: relative;
    left:110px;
    bottom:20px;
}
.container{
    background-color:#0d333f;
    height:53%;
    position:relative;
    bottom:20px;
    border-radius:0.85rem;
}
.outside-container{
    height: 100vh;
    width: 100vw;
}
.heading{
    color:white;
    font-size:20px;
    padding-top:10px;
}
.form-label{
    color:white;
    font-size: 12px;
}
.footer-container{
    position:fixed;
    bottom:0px;
    width:100vw;
}